@model MvcOnlineTicariOtomasyon.Models.Siniflar.Faturalar

@{
    ViewBag.Title = "FaturaEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="my-4">Fatura Ekleme Sayfası</h2>

<form class="form-group" method="post">
    @Html.LabelFor(x => x.FaturaSeriNo)
    @Html.TextBoxFor(x => x.FaturaSeriNo, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.FaturaSiraNo)
    @Html.TextBoxFor(x => x.FaturaSiraNo, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Tarih)
    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.VergiDairesi)
    @Html.TextBoxFor(x => x.VergiDairesi, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Saat)
    @Html.TextBoxFor(x => x.Saat, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.TeslimEden)
    @Html.DropDownListFor(x => x.TeslimEden, (List<SelectListItem>)ViewBag.teslimEdenler, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.TeslimAalan)
    @Html.DropDownListFor(x => x.TeslimAalan, (List<SelectListItem>)ViewBag.teslimAlanlar, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary">Kaydet</button>
</form>

