@using MvcOnlineTicariOtomasyon.Models.Siniflar

@model List<Faturalar>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-condensed">
    <tr>
        <th>Fatura Id</th>
        <th>Fatura Seri No</th>
        <th>Fatura Sıra No</th>
        <th>Tarih</th>
        <th>Vergi Dairesi</th>
        <th>Saat</th>
        <th>Teslim Eden</th>
        <th>Teslim Alan</th>
        <th>Toplam</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var fatura in Model)
    {
        <tr>
            <td>@fatura.FaturaId</td>
            <td>@fatura.FaturaSeriNo</td>
            <td>@fatura.FaturaSiraNo</td>
            <td>@fatura.Tarih</td>
            <td>@fatura.VergiDairesi</td>
            <td>@fatura.Saat</td>
            <td>@fatura.TeslimEden</td>
            <td>@fatura.TeslimAalan </td>
            <td>@fatura.Toplam</td>
            <td><a href="/Fatura/FaturaGetir/@fatura.FaturaId" class="btn btn-warning">Güncelle</a></td>
            <td><a href="/Fatura/FaturaDetay/@fatura.FaturaId" class="btn btn-default" style="background-color: aquamarine;">Detaylar</a></td>
        </tr>
    }
</table>
<a href="/Fatura/FaturaEkle/" class="btn btn-info">Yeni Fatura Girişi</a> 
