@using MvcOnlineTicariOtomasyon.Models.Siniflar

@model List<Faturalar>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{ 
    var faturaIdforKalem = Model[0].FaturaId;
}

<table class="table table-bordered mt-4">
    <tr>
        <th>Fatura Seri No</th>
        <th>Fatura Sıra No</th>
        <th>Tarih</th>
        <th>Vergi Dairesi</th>
        <th>Saat</th>
        <th>Teslim Eden</th>
        <th>Teslim Alan</th>
        <th>Toplam</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
        <th>Popup Liste</th>
        <th>Yeni Kalem</th>
    </tr>
    @foreach (var fatura in Model)
    {
        <tr>
            <td>@fatura.FaturaSeriNo</td>
            <td>@fatura.FaturaSiraNo</td>
            <td>@Convert.ToDateTime(fatura.Tarih).ToString("dd/MM/yyyy")</td>
            <td>@fatura.VergiDairesi</td>
            <td>@fatura.Saat</td>
            <td>@fatura.TeslimEden</td>
            <td>@fatura.TeslimAalan </td>
            <td>@fatura.Toplam</td>
            <td><a href="/Fatura/FaturaGetir/@fatura.FaturaId" class="btn btn-warning">Güncelle</a></td>
            <td><a href="/Fatura/FaturaDetay/@fatura.FaturaId" class="btn btn-default" style="background-color: aquamarine;">Detaylar</a></td>
            <td><a href="/Fatura/KalemId/@fatura.FaturaId" class="btn btn-default" style="background-color: darkgoldenrod;" data-toggle="modal" data-target="#Modal2">Kalemler</a></td>
            @*<td><button type="button" class="btn btn-default" style="background-color: darkgoldenrod;" data-toggle="modal" data-target="#Modal2">Kalemler</button></td>*@
            <td><a href="/Fatura/YeniKalem/@fatura.FaturaId" class="btn btn-default" style="background-color: chartreuse;">Kalem+</a></td>
            @{
                faturaIdforKalem = fatura.FaturaId;  <!-- ID değerini tutmaya çalıştım ama döngüde olduğu için pek başarılı olmadı. -->
            }
        </tr>
        
    }
</table>
<a href="/Fatura/FaturaEkle/" class="btn btn-info">Yeni Fatura Girişi</a>
<br />
<br />
<button type="button" class="btn btn-default" style="background-color: brown; color: white;" data-toggle="modal" data-target="#Modal1">Popup Penceresi</button>

<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Popup Liste</h2>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <tr>
                        <th>Fatura Seri No</th>
                        <th>Fatura Sıra No</th>
                        <th>Tutar</th>
                    </tr>
                    @foreach (var fatura in Model)
                    {
                        <tr>
                            <td>@fatura.FaturaSeriNo</td>
                            <td>@fatura.FaturaSiraNo</td>
                            <td>@fatura.Toplam</td>
                        </tr>
                    }
                </table>
                <div class="text-right">
                    <!-- Yeni eklenen div -->
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Tamam</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="Modal2">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Faturaya Ait Kalemler</h2>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <tr>
                        <th>Açıklama</th>
                        <th>Miktar</th>
                        <th>Birim Fiyat</th>
                        <th>Tutar</th>
                    </tr>
                    @foreach (var fatura in Model)
                    {
                        foreach (var faturaKalem in fatura.FaturaKalems)
                        {
                            if (faturaKalem.FaturaId == faturaIdforKalem)
                            {
                                <tr>
                                    <td>@faturaKalem.Aciklama</td>
                                    <td>@faturaKalem.Miktar</td>
                                    <td>@faturaKalem.BirimFiyat</td>
                                    <td>@faturaKalem.Tutar</td>
                                </tr>
                            }
                        }
                    }
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Burada bir popup içerisine faturaId değerini atmaya çalıştım, pek beceremedim, daha sonra tekrar deneyeceğim! Murat hocanın dinamik faturalar 
    dersi sanırım senin sorunu çözecektir. -->

<script>
    function openModal(faturaId) {
        // Modal açılmadan önce yapılması gereken işlemleri burada gerçekleştirebilirsiniz.

        // Örneğin, modal içerisindeki bir input alanına değeri atayabilirsiniz.
        document.getElementById('modalInput').value = faturaId;

        // Modal'ı açabilirsiniz.
        $('#Modal2').modal('show');
    }
</script>