@using MvcOnlineTicariOtomasyon.Models.Siniflar

@model List<SatisHareket>

@{
    ViewBag.Title = "MusteriSatis";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<ol class="breadcrumb my-4">
    <li class="breadcrumb-item active">Cari Adı: @ViewBag.cariIsimSoyisim</li>
</ol>

<table class="table table-condensed">
    <tr>
        <th>Satış Id</th>
        <th>Ürün</th>
        <th>Personel</th>
        <th>Fiyat</th>
        <th>Adet</th>
        <th>Toplam</th>
        <th>Tarih</th>
        <th>Yazdır</th>
    </tr>
    @foreach (var satis in Model)
    {
        <tr>
            <td>@satis.SatisId</td>
            <td>@satis.Urun.UrunAd</td>
            <td>@satis.Personel.PersonelAd @satis.Personel.PersonelSoyad</td>
            <td>@satis.Fiyat</td>
            <td>@satis.Adet</td>
            <td>@satis.ToplamTutar</td>
            <td>@satis.Tarih</td>
            <td><a href="#" class="btn btn-default" style="background-color: lightskyblue">Yazdır</a></td>
        </tr>
    }
</table>

