@using MvcOnlineTicariOtomasyon.Models.Siniflar

@model List<ResmiTatil>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link href="https://cdn.datatables.net/1.13.2/css/jquery.dataTables.min.css" rel="stylesheet" />

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<link href="https://cdn.datatables.net/1.13.2/css/dataTables.bootstrap.min.css" rel="stylesheet" />

<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />

<script src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>

<script src="https://cdn.datatables.net/1.13.2/js/dataTables.bootstrap4.min.js"></script>
<br />
<h2>Resmi Tatiller</h2>
<br />
<table id="tatilTable" class="table table-bordered">
    <thead>
        <tr>
            <th>Tatil Gününün İsmi</th>
            <th>Süre</th>
            <th>Gün</th>
            <th>Tarih</th>
            <th>Güncelle</th>
            <th>Sil</th>
        </tr>
    </thead>
    @foreach (var tatil in Model)
    {
        <tr>
            <td>@tatil.GunIsim</td>
            <td>@tatil.Sure</td>
            <td>@tatil.Gun</td>
            <td>@tatil.Tarih</td>
            <td><a href="/ResmiTatil/TatilGetir/@tatil.Id" class="btn btn-warning">Güncelle</a></td>
            @*<td><a href="/ResmiTatil/TatilSil/@tatil.Id" class="btn btn-danger">Sil</a></td>*@
            <td>@Html.ActionLink("Sil", "TatilSil", new { @id = tatil.Id }, new { @class = "btn btn-danger", @onclick = "return confirm('Tatil listeden kaldırılacaktır!')" })</td>
        </tr>
    }
</table>

<a href="/ResmiTatil/TatilEkle/" class="btn btn-info">Yeni Resmi Tatil Ekle</a>

<script>

    $('#tatilTable').dataTable({});

</script>