@model MvcOnlineTicariOtomasyon.Models.Siniflar.ResmiTatil

@{
    ViewBag.Title = "TatilEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Tatil Ekleme Sayfası</h2>
<br />
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

@*<form id="myForm" class="form-group" method="post">*@
@using (Html.BeginForm("TatilEkle", "ResmiTatil", FormMethod.Post, new { @id = "myForm" }))
{
    @Html.LabelFor(x => x.GunIsim, new { @id = "gunIsimLabel" })
    @Html.TextBoxFor(x => x.GunIsim, new { @class = "form-control", @id = "gunIsim" })
    <span id="gunIsimError" class="error-message" style="color: red;"></span>
    @*@Html.ValidationMessageFor(x => x.GunIsim, "", new { @style = "color:red" })*@
    <br />
    @Html.LabelFor(x => x.Sure, new { @class = "mt-2", @id = "sureDropDownLabel" })
    @Html.DropDownListFor(x => x.Sure, (List<SelectListItem>)ViewBag.surelerSelectList, new { @class = "form-control", @id = "sureDropDown" })
    <span id="sureDropDownError" class="error-message" style="color: red;"></span>
    <br />
    @Html.LabelFor(x => x.Gun, new { @class = "mt-2", @id = "gunDropDownLabel" })
    @Html.DropDownListFor(x => x.Gun, (List<SelectListItem>)ViewBag.gunlersSelectList, new { @class = "form-control", @id = "gunDropDown" })
    <span id="gunDropDownError" class="error-message" style="color: red;"></span>
    <br />
    @Html.LabelFor(x => x.Tarih, new { @class = "mt-2", @id = "tarihLabel" })
    <input type="date" class="form-control" id="tarih" name="Tarih" />
    <span id="tarihError" class="error-message" style="color: red;"></span>
    <br />
    <div class="mt-2">
        <button class="btn btn-primary mr-3">Kaydet</button>
        <a href="/ResmiTatil/Index" class="btn btn-danger">İptal</a>
    </div>
}


<script>
    $(document).ready(function () {
        $("#gunIsim").on("change", function () {
            validateGunIsim();
        })

        $("#tarih").on("change", function () {
            validateTarih();
        });

        $("#sureDropDown").on("blur", function () {
            validateSure();
        });

        $("#gunDropDown").on("blur", function () {
            validateGun();
        });

        $("#myForm").submit(function (event) {
            if (!validateTarih()) {
                event.preventDefault(); // Formun gönderilmesini engelle
            }
            if (!validateSure()) {
                event.preventDefault();
            }
            if (!validateGun()) {
                event.preventDefault();
            }
            if (!validateGunIsim()) {
                event.preventDefault();
            }
        });

        function validateGunIsim() {
            var gunIsim = $("#gunIsim");
            var gunIsimValue = gunIsim.val();
            var gunIsimLabel = $("#gunIsimLabel");
            var gunIsimError = $("#gunIsimError");

            gunIsimError.text("");
            gunIsim.css("border-color", "black");
            gunIsimLabel.css("color", "black");

            if (gunIsimValue === "") {
                gunIsimError.text("Lütfen günün ismini yazınız.")
                gunIsim.css("border-color", "red");
                gunIsimLabel.css("color", "red");
                return false;
            } else if (gunIsimValue.length > 25) {
                gunIsimError.text("Lütfen en fazla 25 karakter giriniz.")
                gunIsim.css("border-color", "red");
                gunIsimLabel.css("color", "red");
                return false;
            }

            return true;
        }

        function validateTarih() {
            var tarih = $("#tarih");
            var tarihValue = tarih.val();
            var tarihLabel = $("#tarihLabel");
            var tarihError = $("#tarihError");

            // Hata mesajlarını temizle
            tarihError.text("");
            tarih.css("border-color", "black");
            tarihLabel.css("color", "black");

            // Tarih kontrolü
            if (tarihValue === "") {
                tarihError.text("Lütfen tarih giriniz.");
                tarih.css("border-color", "red");
                tarihLabel.css("color", "red");
                return false;
            }

            return true; // Hata yoksa true döndür
        }

        function validateSure() {
            var sure = $("#sureDropDown");
            var sureValue = sure.val();
            var sureLabel = $("#sureDropDownLabel");
            var sureError = $("#sureDropDownError");
            
            sureError.text("");
            sure.css("border-color", "black");
            sureLabel.css("color", "black");

            if (sureValue === `0`) {
                sureError.text("Lütfen süreyi sıfırdan farklı tanımlayınız.");
                sure.css("border-color", "red");
                sureLabel.css("color", "red");
                return false;
            }

            return true;
        }

        function validateGun() {
            var gun = $("#gunDropDown");
            var gunValue = gun.val();
            var gunLabel = $("#gunDropDownLabel");
            var gunError = $("#gunDropDownError");

            gunError.text("");
            gun.css("border-color", "black");
            gunLabel.css("color", "black");

            if (gunValue === `Gün Seçiniz`) {
                gunError.text("Lütfen gün seçiniz.");
                gun.css("border-color", "red");
                gunLabel.css("color", "red");
                return false;
            }

            return true;
        }
    });
</script>